%table.table.table-hover
  %caption
    NAME OF TABLE
  %thead
    %tr
      %th
        User email
      %th
        User name
      %th
        Events
      %th
        Likes
      %th
        Comments
      %th
        Cancel likes
  %tbody
    - @users.each do |user|
      %tr
        %td
          = link_to user.email, admin_events_path(user.id)
        %td
          = user.name.blank? ? user.email : user.name
        %td
          event
        %td
          = user.likes.count
        %td
          = user.comments.count
        %td
          cancel likes


